<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('./partials/head')  %>
    <title>Home</title>
</head>
<body>
    <%-include('./partials/nav')  %>
  
    <h1>Welcome To  <i><b>Blog For YourSelf.........</b></i></h1>

    <% if(locals.allBlogs){ %>
        <div class="container mt-4 row row-cols-3">
            <% allBlogs.forEach(element=> { %>
                <div class="col">
                    <div class="card col" style="width: 18rem;">
                    <img src="<%= element.coverImageURL %>" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title"><%= element.title %></h5>
                        <!-- <p class="card-text"><%= element.body %></p> -->
                        <a href="/blog/<%= element._id %>" class="btn btn-primary">View</a>
                    </div>
                </div>
                </div>
                <% }) %>
        </div>
        <% } %>



    
    <%-include('./partials/script')  %>
</body>
</html>