<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('./partials/head')  %>
    <title>Home</title>
</head>
<body>
    <%-include('./partials/nav') %>
    
        <h1>Welcome To <i><b>Blog For YourSelf.........</b></i></h1>
        <% if (locals.allBlogs) { %>
            <div class="container mt-4">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
                    <% allBlogs.forEach(element=> { %>
                        <div class="col d-flex justify-content-center">
                            <div class="card h-100 w-100" style="max-width: 20rem;">
                                <img src="<%= element.coverImageURL %>" class="card-img-top img-fluid" alt="Blog Cover">
                                <div class="card-body d-flex flex-column">
                                    <h5 class="card-title text-truncate">
                                        <%= element.title %>
                                    </h5>
                                    <!-- <p class="card-text"><%= element.body %></p> -->
                                    <a href="/blog/<%= element._id %>" class="btn btn-primary mt-auto">View</a>
                                </div>
                            </div>
                        </div>
                        <% }) %>
                </div>
            </div>
            <% } %>
    
    
    
    
    
                <%-include('./partials/script') %>
</body>
</html>