<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('./partials/head')  %>
    <title>Home</title>
</head>
<body>
    <%-include('./partials/nav')  %>
  
    <h1>Hlo there This is Sourav Sharma</h1>

    <% if(locals.user){ %>
        <h2><%= user.name %></h2>
        <h2><%= user.email %></h2>
        <h2><%= user.role %></h2>
    <% } %>

    <div class="container">
        <form action="/user/signup">
        <Button>SignUp</Button>
    </form>
    <form action="/user/signin">
        <Button>SignIn</Button>
    </form>
    </div>


    <%-include('./partials/script')  %>
</body>
</html>